name: Compilar Dumper Final

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Adicionar MSBuild ao PATH
      uses: microsoft/setup-msbuild@v2

    - name: Compilar
      shell: pwsh
      run: |
        $projectFile = Get-ChildItem -Recurse -Include *.sln, *.vcxproj | Select-Object -First 1 -ExpandProperty FullName
        if ($projectFile) {
            Write-Host "Compilando: $projectFile"
            # Forçando a saída para uma pasta fixa chamada 'Saida'
            msbuild "$projectFile" /p:Configuration=Release /p:Platform=x64 /p:OutDir=D:\a\IL2CPP-Dumper\IL2CPP-Dumper\Saida\
        } else {
            Write-Error "Projeto não encontrado!"
            exit 1
        }

    - name: Upload do Executável
      uses: actions/upload-artifact@v4
      with:
        name: Dumper-Pronto
        path: |
          D:/a/IL2CPP-Dumper/IL2CPP-Dumper/Saida/*.exe
          D:/a/IL2CPP-Dumper/IL2CPP-Dumper/Saida/*.dll
