name: Compilar Dumper Real

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Compilar Solucao Completa
      run: |
        # Isso vai tentar compilar todos os projetos dentro da pasta, incluindo o EXE do dumper
        msbuild IL2CPP-Dumper.sln /p:Configuration=Release /p:Platform=x64

    - name: Upload dos Binarios
      uses: actions/upload-artifact@v4
      with:
        name: Ferramentas-Completas
        path: |
          **/*.exe
          **/*.dll
