name: Compilar Dumper Endfield

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Localizar e Compilar
      shell: pwsh
      run: |
        # Busca automática de qualquer arquivo .sln ou .vcxproj
        $project = Get-ChildItem -Recurse -Include *.sln, *.vcxproj | Select-Object -First 1 -ExpandProperty FullName
        if (-not $project) { throw "Nenhum arquivo de projeto encontrado!" }
        Write-Host "Compilando: $project"
        
        # Compila garantindo que o output vá para uma pasta fácil de achar
        msbuild "$project" /p:Configuration=Release /p:Platform=x64 /p:OutDir=D:\a\output\

    - name: Upload das Ferramentas
      uses: actions/upload-artifact@v4
      with:
        name: Dumper-Executavel
        path: D:/a/output/
